.dpl-progress-bar {
  &__progress-bar {
    display: flex;
    width: 100%;
    height: $s-md;
    margin-top: 2px;
    border: 1px solid $color__global-tertiary-2;
    border-radius: 2px;
    overflow: hidden;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: $s-sm;
  }
}
