.dpl-patron-info {
  color: $color__text-secondary-gray;
  background-color: $color__global-secondary;
  padding-bottom: $s-xl;

  &__label {
    @include typography($typo__body-large);
    margin-left: $s-xl;
    padding-top: $s-xl;
  }
  &__text {
    @include typography($typo__body-medium);
    margin-left: $s-xl;
  }
}

.patron-buttons {
  display: flex;
  margin-top: $s-xl;
}

.contact-info-flex {
  display: flex;
  flex-direction: column;

  @include media-query__small {
    flex-direction: row;
  }
}

.patron-page-info {
  width: 100%;

  @include media-query__small {
    width: 75%;
  }
}

.patron__input {
  margin-bottom: $s-xl;
}

.patron__input--desktop {
  width: 100%;

  &:first-of-type {
    @include media-query__small {
      margin-right: $s-lg;
    }
  }

  @include media-query__medium {
    width: 50%;
  }
}
