<a href="{{ download_url }}" class="link-with-icon arrow__hover--right-small" target="_blank">
  <div class="link-with-icon__icon ">
    <img class="invert" src="/themes/custom/novel/assets/dpl-design-system/icons/collection/Download.svg" alt="" />
  </div>
  {{ download_description }}
  {{ source(baseIconPath ~ '/arrow-ui/icon-arrow-ui-small-right.svg') }}
</a>
