.dashboard-page {
  background: $color__global-primary;
  padding: $s-md;
  position: relative;

  @include media-query__medium {
    padding: $s-6xl $s-6xl ($s-4xl + $s-md);
  }
}

.dashboard-page-recommendations {
  margin-bottom: ($s-xl + $s-md);
  padding: $s-2xl 0;

  background: $color__global-secondary;
}
